@model ProyectoDisArq.Models.Categoria
@{
    ViewData["Title"] = "Editar Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Categorias" asp-action="Edit" method="post">
                    <input class="form-control" asp-for="CategoriaId" hidden />
                    <div class="mb-2">
                        <label>Nombre</label>
                        <input class="form-control" asp-for="Nombre" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Descripción</label>
                        <textarea class="form-control" asp-for="Descripcion" id="descripcion"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>                    
                    <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                        <button type="submit" class="btn btn-success mb-1 mb-md-0">
                            <i class="bi bi-download"></i>&nbsp;Actualizar
                        </button>
                        <a asp-controller="Categorias" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>&nbsp;Cancelar
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#descripcion').summernote();
        });
    </script>
}