@model ProyectoDisArq.Models.ViewModels.ProductoVM
@{
    ViewData["Title"] = "Editar Complemento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Productos" asp-action="Edit" method="post">
                    <input class="form-control" asp-for="Producto.ProductoId" hidden />
                    <div class="mb-2">
                        <label>Categoría</label>
                        <select class="form-select" asp-for="Producto.CategoriaId" asp-items="Model.ListCategorias">
                            <option disabled selected>--Seleccionar categoría--</option>
                        </select>
                        <span asp-validation-for="Producto.CategoriaId" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Nombre</label>
                        <input class="form-control" asp-for="Producto.Name" />
                        <span asp-validation-for="Producto.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Descripción</label>
                        <textarea class="form-control" asp-for="Producto.Descripcion" id="descripcion"></textarea>
                        <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Tipo de masa</label>
                        <input class="form-control" asp-for="Producto.Tipo_Masa" />
                        <span asp-validation-sdfor="Producto.Tipo_Masa" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-2">
                        <label>Tamaño</label>
                        <select class="form-select" asp-for="Producto.Tamagno">
                            <option disabled selected>--Seleccionar Tamaño--</option>
                            <option value="1/8">1/8kg (125g)</option>
                            <option value="1/4">1/4kg (250g)</option>
                            <option value="1/2">1/2kg (500g)</option>
                            <option value="1">1kg (1000g)</option>
                            <option value="2">2kg (2000g)</option>
                        </select>
                        <span asp-validation-for="Producto.Tamagno" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Forma</label>
                        <select class="form-select" asp-for="Producto.Forma">
                            <option disabled selected>--Seleccionar forma--</option>
                            <option value="redonda">Redonda</option>
                            <option value="cuadrada">Cuadrada</option>
                            <option value="corazon">Corazón</option>
                        </select>
                        <span asp-validation-for="Producto.Forma" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Costo</label>
                        <input class="form-control" asp-for="Producto.Costo_Base" />
                        <span asp-validation-for="Producto.Costo_Base" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Sabor</label>
                        <input class="form-control" asp-for="Producto.Sabor" />
                        <span asp-validation-for="Producto.Sabor" class="text-danger"></span>
                    </div>
                    @* <div class="mb-2">
                    <label>Pisos</label>
                    <input class="form-control" asp-for="Producto.Pisos" />
                    <span asp-validation-for="Producto.Pisos" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                    <label>Cantidad</label>
                    <input class="form-control" asp-for="Producto.Cantidad" />
                    <span asp-validation-for="Producto.Cantidad" class="text-danger"></span>
                    </div> *@

                    <div class="mb-2">
                        <label>Receta</label>
                        <select class="form-select" asp-for="Producto.RecetaId" asp-items="Model.ListRecetas">
                            <option disabled selected>--Seleccionar receta--</option>
                        </select>
                        <span asp-validation-for="Producto.RecetaId" class="text-danger"></span>
                    </div>
                    <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                        <button type="submit" class="btn btn-success mb-1 mb-md-0">
                            <i class="bi bi-floppy"></i>&nbsp;Guardar
                        </button>
                        <a asp-controller="Productos" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>&nbsp;Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#descripcion').summernote();
        });
    </script>
}
