@model ProyectoDisArq.Models.ViewModels.ComplementoVM 
@{
    ViewData["Title"] = "Crear Complemento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form asp-controller="Complementos" asp-action="Create" method="post">
                    <div class="mb-2">
                        <label>Nombre</label>
                        <input class="form-control" asp-for="Complemento.Name" />
                        <span asp-validation-for="Complemento.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Descripción</label>
                        <textarea class="form-control" asp-for="Complemento.Descripcion" id="descripcion"></textarea>
                        <span asp-validation-for="Complemento.Descripcion" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Costo por gramo</label>
                        <input class="form-control" asp-for="Complemento.Costo_gramo" />
                        <span asp-validation-for="Complemento.Costo_gramo" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-2">
                        <label>Categoría</label>
                        <select class="form-select" asp-for="Complemento.CategoriaId" asp-items="Model.ListCategorias">
                            <option disabled selected>--Seleccionar categoría--</option>
                        </select>
                        <span asp-validation-for="Complemento.CategoriaId" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label>Receta</label>
                        <select class="form-select" asp-for="Complemento.RecetaId" asp-items="Model.ListRecetas">
                            <option disabled selected>--Seleccionar receta--</option>
                        </select>
                        <span asp-validation-for="Complemento.RecetaId" class="text-danger"></span>
                    </div>
                    <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                        <button type="submit" class="btn btn-success mb-1 mb-md-0">
                            <i class="bi bi-floppy"></i>&nbsp;Guardar
                        </button>
                        <a asp-controller="Complementos" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>&nbsp;Cancelar
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#descripcion').summernote();
        });
    </script>
}


