.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    width: 400px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body{
    background-color: white;
    justify-content: center;
    text-align: center;
    color: darksalmon;
}
button {
    margin-bottom:5px;
    padding: 3px;
    width: 30%;
    font-size: 22px;
    background-color: lightcoral;
    opacity: 0.8;
    border-radius: 10px;
    border: solid brown;
    color: white;
}

button:hover {
    background-color: white;
    color: brown;
    border: solid lightcoral;
}
